{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h4 class="text-center">Update Profile</h4>
    <div class="section-1-container section-container">
            <div class="row">
                <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
                    <div class="div-to-align">
                            <form method="post">
                                {% csrf_token %}
                                {{ u_form|crispy }}
                                <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}